#placar {
    width: 588px;
    height: 40px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #003459;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 1px 1px 5px 5px rgba(0, 52, 89, 0.1);
}

#placar span {
    color: #fff;
    text-shadow: 3px 3px 3px #00171f;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#player-1 {
    float: left;
}

#player-2 {
    float: right;
}